*
{
 margin: 0;
 padding: 0;
 background-size: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px; 
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
     
}
.card:hover{
    width: 600px;
    transition-delay: 0s;
}
.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
    
}
.card:hover .circle::before{
    clip-path: circle(400px at center);
}
.card .circle .logo{
    position: relative;
    width: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.card:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0s;
}
.content{
    position: relative;
    width: 60%;
    left: 0%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transform: 0.5s;
    visibility: hidden;
}
.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;

}

.content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 15px;
}
.content p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.content a{
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.content a:hover{
    background: rgb(119, 119, 119);
    color: #fff;    
    -webkit-box-shadow: 9px 11px 12px -2px rgba(30, 34, 56, 0.43);
    -moz-box-shadow: 9px 11px 12px -2px rgba(30, 34, 56, 0.43);
    box-shadow: 9px 11px 12px -2px rgba(30, 34, 56, 0.43);
    transition: 0.5s;
    
}

.card .produktimg{
    position: absolute;
    top: 50%;
    left: 70%;
    bottom: 80%;
    transform: translate(-50%,-50%) scale(0);
    height: 350px;
    transition: 0.5s;
    transition-delay: 0s;
   
} 
.card:hover .produktimg{
    left: 80%;    
    transform: translate(-50%,-50%) scale(1);
    transition-delay: 0.5s;
}
@media (max-width: 1250px) {
    body {
      flex-direction: column;
    }
  }
